<div class="row">
  <div class="col-md-12">
    <h5>1. Tax Filling Detail</h5>
    <hr />
  </div>
</div>

<app-filing-type [filingType]="filingType" (change_event)="set_filing_type($event)"></app-filing-type>

<div class="row pt-4">
  <div class="col-md-12">
    <span>VAT Month <span class="rq"></span> </span>
  </div>
</div>

<div class="row pt-3">
  <div class="col-md-3">
    <app-month [month]="month" [year]="year"></app-month>
  </div>
  <div class="col-md-3">
    <app-year [month]="month" [year]="year"></app-year>
  </div>
  <div class="col-md-3 offset-md-1" *ngIf="type && filingType?.value == 1">
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select [formControl]="type" placeholder="-">
        <mat-option *ngFor="let type of master_type" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row pt-5">
  <div class="col-md-12">
    <div class="d-flex justify-content-between align-items-center">
      <h5>2. Tax Computation</h5>
      <h6 style="margin-bottom: 0px !important;text-decoration: underline;cursor: pointer;">View Exchange Rate</h6>
    </div>
    <hr />
  </div>
</div>

<div class="row pt-2">
    <div class="col-md-12">
      <b>Provide total value taxible electronic service</b>
    </div>
</div>

  <app-sale-amount [saleAmount]="saleAmount" (change_event)="set_sale_amount($event)"></app-sale-amount>
  <app-tax-amount [taxAmount]="taxAmount" (change_event)="set_tax_amount($event)"></app-tax-amount>


<ng-container *ngIf="filingType?.value == 1">
  <div class="row pt-5" >
      <div class="col-md-12">
        <b>In case of late filing and payment,or additional filing</b>
      </div>
  </div>

  <app-surcharge [surcharge]="surcharge"></app-surcharge>
  <app-penalty  [penalty]="penalty"></app-penalty>
  <app-total-amount  [totalAmount]="totalAmount"></app-total-amount>

</ng-container>  
