<div class="container p-5 pb-0 pt-4">
  <div class="row ">
    <div class="col-md-12 d-flex justify-content-center">
        <h2>Submit Tax Filling</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-stepper [linear]="true" #stepper labelPosition="bottom">
        <mat-step [stepControl]="firstFormGroup" label="Input Detail">
          <form [formGroup]="firstFormGroup" (keydown.enter)="(false)">
            <mat-card>
              <mat-card-content>
                <div class="p-3">
                    <app-input-detail
                    [form]="firstFormGroup"
                  ></app-input-detail>
                </div>
              </mat-card-content>
            </mat-card>
            <div class="mt-4">
              <button mat-raised-button color="primary" matStepperNext (click)="log()">Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step label="Review & Confirm">
          <form >
            <mat-card>
              <mat-card-content>
                <div class="p-3">
                <app-review-confirm [form]="firstFormGroup"></app-review-confirm>
                </div>
              </mat-card-content>
            </mat-card>
            <div class="mt-4 d-flex justify-content-between">
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext (click)="submit()">Confirm and Submit</button>
            </div>

          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
